<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>工业互联网标识服务平台</title>
		<link rel="shortcut icon" href="img/favicon.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css">
		<link rel="stylesheet" href="../../css/ionicons.min.css">
		<link rel="stylesheet" href="../../css/list.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
		<script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
		<script src="../../js/prompt.js"></script>
		<script src="../../js/axios.min.js"></script>
		<script>
			const App = {
				data() {
					return {
						searchContent: '',
						pageTotal: 10,
						rowTotal: 50,
						pageNumber: 1,
						imageUrl: '',
						selectionRows: [],
						selectionId: '',
						alertDesc: '',
						alertVisible: false,
						dialogTitle: '',
						dialogFormVisible: false,
						dialogVisible: false,
						dialogImageVisible: false,
						formLabelWidth: '80px',
						form: {
							fileId: 1,
							fileName: '',
							fileUrl: '',
							fileSuffix: '',
							userAccount: '',
							operTime: ''
						},
						tableData: [{
								fileId: 1,
								fileName: 'product1.jpeg',
								fileUrl: '/uploadfiles/product1.jpeg',
								userAccount: '88.168.100',
								operTime: '2022-11-11 16:51:30'
							},{
								fileId: 2,
								fileName: 'product2.jpeg',
								fileUrl: '/uploadfiles/product2.jpeg',
								userAccount: '88.168.100',
								operTime: '2022-11-11 16:40:55'
							},{
								fileId: 3,
								fileName: 'product3.jpeg',
								fileUrl: '/uploadfiles/product3.jpeg',
								userAccount: '88.168.100',
								operTime: '2022-11-11 16:38:12'
							},{
								fileId: 4,
								fileName: 'frontoffice1.jpeg',
								fileUrl: '/uploadfiles/frontoffice1.jpeg',
								userAccount: '88.168.100',
								operTime: '2022-11-11 16:20:23'
							},{
								fileId: 5,
								fileName: 'frontoffice2.jpeg',
								fileUrl: '/uploadfiles/frontoffice2.jpeg',
								userAccount: '88.168.100',
								operTime: '2022-11-11 16:05:20'
							}
						]
					}
				},
				mounted() {
					this.$refs.content.style.display = 'block'
					this.$refs.dialog.style.display = 'block'
				},
				methods: {
					dialogInit() {
						this.$refs.userAccount.ref.focus()
					},
					handleSelectionChange(rows) {
						this.selectionRows = rows
					},
					back() {
						history.back()
					},
					search() {
						alert(this.searchContent)
					},
					add() {
						location.href = 'fileupload.html'
					},
					show(url) {
						this.imageUrl = '../..' + url
						this.dialogImageVisible = true
					},
					view(row) {
						this.dialogTitle = '文件详细信息'
						this.dialogFormVisible = true
						this.form.fileId = row.fileId
						this.form.fileName = row.fileName
						this.form.fileUrl = location.protocol + '//' 
							+ window.location.host 
							+ '/tits-ms-v2' + row.fileUrl
						this.form.userAccount = row.userAccount
						this.form.operTime = row.operTime
						this.form.fileSuffix = row.fileName
							.substring(row.fileName.lastIndexOf('.'))
					}, 
					del(id) {
						this.selectionId = id
						this.dialogVisible = true
					},
					delBatch() {
						if(this.selectionRows.length < 1) {
							this.alertDesc = '请至少选择1行数据!'
							this.alertVisible = true
							return
						} 
						this.alertVisible = false
						this.dialogVisible = true
					},
					delSubmit() {
						if(this.selectionId) {
							alert('单个删除..., ' + this.selectionId)
							this.selectionId = ''
						} else {
							alert('批量删除...')
						}
						this.dialogVisible = false
					}
				}
			};
			const app = Vue.createApp(App)
			app.use(ElementPlus);
			onload = () => {
				app.mount("#app");
			}
		</script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<span>系统管理</span><span>/我的文件</span>
				<i class="icon ion-arrow-return-left" title="返回" @click="back"></i>
			</div>
			<div id="content" ref="content">
				<div>
					<div class="btn-group">
						<el-button type="primary" @click="add()">
							<i class="icon ion-plus"></i>
							新增
						</el-button>
						<el-button type="danger" @click="delBatch()">
							<i class="icon ion-trash-a"></i>
							删除
						</el-button>
					</div>
					<div class="search">
						<el-input v-model="searchContent" placeholder="请输入文件名">
						    <template #append>
								<el-button type="primary" @click="search()">
									<i class="icon ion-search" ></i>
								</el-button>
							</template>
						</el-input>
					</div>
					<el-table :data="tableData" class="table" 
						@selection-change="handleSelectionChange">
						<el-table-column type="selection" width="55">
						</el-table-column>
						<el-table-column label="序号" width="60">
							<template #default="scope">{{ scope.$index + 1 }}</template>
						</el-table-column>
						<el-table-column prop="fileUrl" label="文件">
							<template #default="scope">
								<img :src="'../..' + scope.row.fileUrl" width="80" height="50" 
									style="cursor:pointer;border-radius:3px;" 
									@click="show(scope.row.fileUrl)" />
							</template>
						</el-table-column>
						<el-table-column prop="fileName" label="文件名"></el-table-column>
						<el-table-column prop="operTime" label="创建时间"></el-table-column>
						<el-table-column label="操作" width="200" #default="scope">
							<el-button type="success" plain @click="view(scope.row)">
								<i class="icon ion-document-text"></i>
								查看
							</el-button>
							<el-button type="danger" plain @click="del(scope.row.fileId)">
								<i class="icon ion-android-delete"></i>
								删除
							</el-button>
						</el-table-column>
					</el-table>
					<div class="page-bar">
						<div class="page-info">
							共{{rowTotal}}条记录,当前第{{pageNumber}}/{{pageTotal}}页
						</div>
						<el-pagination
						    small
						    background
						    layout="prev, pager, next"
						    :total="pageTotal * 10"
						    class="mt-4"
						  />
					</div>
				</div>
			</div>
			<div id="dialog" ref="dialog">
				<el-dialog class="oper-dialog" v-model="dialogFormVisible" 
					:title="dialogTitle" @opened="dialogInit()">
					<el-form :model="form">
						<el-form-item label="企业帐号" :label-width="formLabelWidth">
							<el-input ref="userAccount" v-model="form.userAccount" autocomplete="off"/>
						</el-form-item>
						<el-form-item label="文件名" :label-width="formLabelWidth">
							<el-input ref="fileName" v-model="form.fileName" autocomplete="off"/>
						</el-form-item>
						<el-form-item label="文件后缀" :label-width="formLabelWidth">
							<el-input ref="fileSuffix" v-model="form.fileSuffix" autocomplete="off">
						</el-form-item>
						<el-form-item label="文件URL" :label-width="formLabelWidth">
							<el-input ref="fileUrl" v-model="form.fileUrl" autocomplete="off" />
						</el-form-item>
						<el-form-item label="创建时间" :label-width="formLabelWidth">
							<el-input ref="operTime" v-model="form.operTime" autocomplete="off" />
						</el-form-item>
					</el-form>
					<template #footer>
						<span class="dialog-footer">
							<el-button @click="dialogFormVisible = false">
								关闭
							</el-button>
						</span>
					</template>
				</el-dialog>
				<el-dialog v-model="dialogImageVisible" width="600" class="image-dialog" draggable>
					<img :src="imageUrl" width="555" height="300" />
					<template #footer>
					    <span class="dialog-footer">
						    <el-button @click="dialogImageVisible = false">关闭</el-button>
					    </span>
					</template>
				</el-dialog>
				<el-dialog v-model="dialogVisible" title="提示" width="30%" draggable>
					<span>您是否删除选择的数据行?</span>
					<template #footer>
					    <span class="dialog-footer">
						    <el-button @click="dialogVisible = false">取消</el-button>
						    <el-button type="primary" @click="delSubmit()">
								确定
							</el-button>
					    </span>
					</template>
				</el-dialog>
				<el-alert v-show="alertVisible" @close="alertVisible = false"
				    title="错误"
				    type="error"
				    :description="alertDesc"
				    show-icon>
				</el-alert>
			</div>
		</div>
	</body>
</html>
